---
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import LinkedInIcon from "../components/icons/Linkedin.astro";
---

<Layout title="Portfolio dev">
  <main>
    <section class="w-full mx-auto lg:w[740px] py-44">
      <h1 class="text-5xl font-bold justify-center flex-row gap-x-4 pb-10 text-white">
        Hey, soy Pedro Donoso

        <a
          href="https://www.linkedin.com/in/pedro-donoso-frontend/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <strong>Disponible para trabajar</strong>
        </a>
      </h1>
      <h2 class="text-2xl text-white text-wrap">
        +5 años de experiencia. <span class="text-yellow-200">Desarrollador Frontend.</span> De Santiago, Chile.
        Especializado en crear aplicaciones únicas
      </h2>

<nav class="flex gap-x-2">
  <SocialPill href="https://www.linkedin.com/in/pedro-donoso-frontend">
      <LinkedInIcon class="w-6 h-6" />
      LinkedIn
    </SocialPill>
</nav>
		
    </section>
  </main>
</Layout>
