---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio dev">
  <main>
    <section class="w-full mx-auto lg:w[740px] py-44">
      <h1 class="text-2xl font-bold justify-center flex-row gap-x-4 pb-10 text-white">
        Hey, soy Pedro Donoso

        <a
          href="https://www.linkedin.com/in/pedro-donoso-frontend/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <strong>Disponible para trabajar</strong>
        </a>
      </h1>
      <h2 class="text-xl opacity-80 text-white">
        +5 años de experiencia. Desarrollador Frontend. De Santiago, Chile.
        Especializado en crear aplicaciones únicas
      </h2>
    </section>
  </main>
</Layout>
